[Desktop Entry]
Encoding=UTF-8
Name=SUSE Updater Applet
Exec=opensuse-updater %i %m -caption "%c"
Icon=opensuse-updater
Type=Application
Terminal=0
GenericName=OpenSUSE Updater Applet
Categories=Qt;KDE;System;Desktop Applet
