[Desktop Entry]
Type=Application
Exec=opensuse-updater
Terminal=false
Name=OpenSUSE Updater
Icon=opensuse-updater

X-KDE-StartupNotify=false
X-KDE-autostart-condition=opensuse-updaterrc:General:Autostart:true
X-KDE-autostart-after=panel
