[Desktop Entry]
Encoding=UTF-8
Name=SUSE Updater Applet
Exec=opensuseupdater %i %m -caption "%c"
Icon=opensuseupdater
Type=Application
Terminal=0
GenericName=OpenSUSE Updater Applet
Categories=Qt;KDE;System;Desktop Applet
