[Desktop Entry]
Type=Application
Exec=SUSEUpdater
Terminal=false
Name=SUSE Updater
Icon=suseupdater

X-KDE-StartupNotify=false
X-KDE-autostart-condition=suseupdaterrc:General:Autostart:true
X-KDE-autostart-after=panel
