[Desktop Entry]
Type=Application
Exec=opensuseupdater
Terminal=false
Name=OpenSUSE Updater
Icon=opensuseupdater

X-KDE-StartupNotify=false
X-KDE-autostart-condition=opensuseupdaterrc:General:Autostart:true
X-KDE-autostart-after=panel
NotShowIn=KDE