[Desktop Entry]
Encoding=UTF-8
Name=openSUSE Updater Applet
Exec=opensuseupdater %i %m -caption "%c"
Icon=opensuseupdater
Type=Application
Terminal=0
Categories=Qt;KDE;System;Desktop Applet

