[Desktop Entry]
Encoding=UTF-8
Name=KZMD-Updater Applet
Exec=kzmdupdater %i %m -caption "%c"
Icon=suse_greeen.png
Type=Application
Terminal=0
GenericName=SUSE Updater Applet
