[Desktop Entry]
Encoding=UTF-8
Name=SUSE Updater Applet
Exec=SUSEUpdater %i %m -caption "%c"
Icon=suseupdater
Type=Application
Terminal=0
GenericName=SUSE Updater Applet
Categories=Qt;KDE;System;Desktop Applet
